body {
    background: #666666 !important;
    font-family: 'Kalam', cursive !important;
}

h2 {
    color: whitesmoke;
}

h1 {
    color: #e6e6e6;
    font-size: 45px;
    text-align: center;
}

#subtitle {
    border-radius: 5px;
    margin: auto;
    height: auto;
    width: 1300px;
    position: center;
    color: white;
    background: black;
    text-align: center;
}
    
#subject {
    background: silver;
    border-radius: 5px;
    width: calc(100% - 300px);
    text-align: center;
    float: left;
    height: 1000px;
}

#menu {
    float: left;
    height: 1000px;
    width: 284px;
    background-color: silver;
    border-radius: 5px;
    margin-right: 16px;
}

#menu li {
    height: 40px;
    font-size: 20px;
    color: whitesmoke;
}

#wrapper {
    width: 1300px;
    margin: auto;
    height: 1000px;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: whitesmoke;
  }

  .active {
    background-color: #555555;
    color: white;
  }

  .fixed {
      position: fixed;
      right: 0px;
      bottom: 50px;
      width: 30px;
      height: auto;
  }

  .fixed1 {
    position: fixed;
    right: -18px;
    bottom: 80px;
    width: 69px;
    height: auto;
  }

  .mapsindoors.floor-selector {
    margin: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    margin-top:100px;
}


.mapsindoors.floor-selector a {
    position: relative;
    display: block;
    float: none;
    padding: 6px 12px;
    margin-top: -1px;
    line-height: 200%;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    background: #fff;
    z-index: 0;
}

.mapsindoors.floor-selector a:hover {
    background: #ddd;
    border-color: #999;
    z-index: 2;
}

.mapsindoors.floor-selector a.active {
    background: #ddd;
    border-color: #00b1ff;
    z-index: 2;
}

.mapsindoors.floor-selector a:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.mapsindoors.floor-selector a:first-child:not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.mapsindoors.floor-selector a:last-child:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0;
}

#video {
    border-radius: 5px;
}